@import "tailwindcss";

@theme {
    --*: initial;
    --spacing: 0.08px;
    --color-grey-800: #2a4144;
    --color-grey-500: #86a2a5;
    --color-white: #ffffff;
    --color-green-600: #0c7d69;
    --color-green-200: #e0f1e8;
    --color-red: #d73c3c;
}

@layer utilities {
    .heading {
        font-family: "Karla", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: -0.0625rem;
    }

    .body-md-bold {
        font-family: "Karla", sans-serif;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.5;
        letter-spacing: 0px;
    }

    .body-md-regular {
        font-family: "Karla", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5;
        letter-spacing: 0px;
    }

    .body-sm {
        font-family: "Karla", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0px;
    }
}
